<!--SEARCH FIELD-->
<fieldset>
  <legend>Search Field</legend>

  <div class="searchForm">
    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">First Name</span>
      <input class="form-control" ng-model="search.firstName">
    </div>

    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">Sur Name</span>
      <input class="form-control" ng-model="search.surName">
    </div>

    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">Company</span>
      <input class="form-control" ng-model="search.company">
    </div>

    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">Email</span>
      <input class="form-control" ng-model="search.email">
    </div>

    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">Phone</span>
      <input class="form-control" ng-model="search.phone">
    </div>

    <div class="input-group span-tag">
      <span class="input-group-addon text-muted">Tags</span>
      <input class="form-control" ng-model="search.tags">
    </div>
  </div>

</fieldset>
<!--CARDS-->

<div class="row card-container">
  <fieldset>
    <legend>Contact Cards</legend>
    <p class="alert alert-danger" ng-hide="($ctrl.contacts | filter:search ).length != 0">No result is matched!</p>
    <div class="card" ng-repeat="user in $ctrl.contacts | filter:search | filter:{isActive: 'true'}">

      <div class="wrapper-card panel panel-success">

        <div class="panel-heading">
          <a class="contact-name" href="javascript:void(0)" ui-sref="app.contacts.view({ id: user.id })">
            <h1><span class="text-muted">{{user.gender === "male" ? "Mr" : "Mrs"}} </span>{{user.firstName }} {{user.surName}}</h1>
          </a>
        </div>

        <div class="panel-body">
          <ul class="card-info-container" ng-class="{'switch': slideActive($index)}">
            <li class="basic-info card-info">
              <span class="info-detail user-company"><small class="text-muted">Company: </small>{{ user.company | uppercase}}</span>
              <span class="info-detail"><small class="text-muted">Email: </small>{{ user.email }}</span>
              <span class="info-detail"><small class="text-muted">Tel: </small>{{ user.phone }}</span>
              <div class="label-tag info-detail"><small class="text-muted">Tags: </small>
                <span class="label label-primary label-tag" ng-repeat="tag in user.tags track by $index">{{ tag }}</span>
              </div>
            </li>

            <li class="about-info card-info">
              <span class="info-detail user-about"><small class="text-muted">About: </small>{{ user.about | limitTo: 250 }}{{ user.about.length > 250 ? '.' : ''}}</span>
              <span class="info-detail"><small class="text-muted">Address: </small>{{ user.street }}, {{ user.city }}, {{ user.zip }}, {{ user.state }}</span>
            </li>
          </ul>
        </div>

        <div class="panel-footer" ng-click = "showInfo($index)" >
          <span class="text-background">Click to show more!</span>
          <button class="btn btn-danger" ng-class="{'slide' : slideActive($index)}" id="btn-slide"></button>
        </div>
      </div>

    </div>
  </fieldset>

</div>

<!--END CARDS-->
