/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  padding-top: 70px;
}

h2 {
  margin: 0 0 20px 0;
}

.grid {
  min-height: 512px;

  .label {
    margin: 0 2px;
  }
}

.well {
  clear: both;
}


// CARDS

.card-info {
  margin-left: 0;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
}

.card-info .label-tag {
  display: inline-block;
  padding-right: 5px;
}

.card-info .label-tag span {
  margin-right: 2px;
}

.searchForm {

  .input-group {
    margin-bottom: 1em;

    .input-group-addon, .input-group-btn {
      min-width: 10em;
    }

    .form-control {
      font-size: 18px;
    }

  }

}

.card-container {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    @extend .col-lg-4;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-12;

    .contact-name h1 {
      font-size: 1.5em;
    }
    .panel-body {
        overflow: hidden;
        min-height: 300px;
        height: 100%;
        margin: 15px;
        padding: 0;
        ul.card-info-container {
            width: 200%;
            position: relative;
            list-style-type: none;
            height: 100px;
            transition: 1s;
            padding-left: 10px;

            .card-info .info-detail {
              margin-bottom: 2em;
              font-size: 1.2em;
            }
        }
        ul.card-info-container.switch {
            margin-left: -100%;
        }
    }

    .panel-footer {
      position: relative;
    }

    .panel-footer #btn-slide{
      height: 1.5em;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      margin-left: 90%;
      z-index: 1;
    }

    .panel-footer #btn-slide.slide{
      margin-left: 5%;
    }

    .panel-footer .text-background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
