<div class="jumbotron">
  <h2>Angular Assignment</h2>

  <h3>Your mission, if you choose to accept it, is following:</h3>

  <p>Implement new component with a view that displays contact information as business-card like boxes.</p>

  <h4>Requirements:</h4>
  <ul>
    <li>Component code into /src/app/cards + possible changes to existing files</li>
    <li>Router-url #/cards, add view to app main menu as "Cards"</li>
    <li>Follow the structure of existing components when ever possible</li>
    <li>See existing components on how to fetch contact data</li>
    <li>Try to use AngularJS built in features as much as possible</li>
    <li>Card layout is free, try to use Bootstrap styles</li>
    <li>Cards should "flow" from left to right and downwards</li>
    <li>All visible cards should be same size, amount of cards on one row should depend on viewport width</li>
    <li>On a very narrow screen (ie mobile) cards should be arranged in a single column</li>
    <li>Show only contacts which are "active"</li>
    <li>Implement a search filter which matches to contact fields and shows only matching contacts</li>    
  </ul>

</div>
